body{
    background-color: #ccc;
    font-size: 1.125rem;
    /* to ger rid of extra spacing around nav add margin 0 */
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300 ;
}

img{
    max-width: 100%;
    display: block;
}

/* -----------
Typografy
-------------- */
h1,h2,h3{
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
}

strong{
    font-weight: 700;
}

h1{
    padding: 0;
    margin: 0;
    margin-top: 20px;
    font-size: 2rem;
}

/* h1 subtitle */
.subtitles{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
    color: #1792D2;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 4px;
    word-spacing: 4px;
}

.article-title{
 font-size: 1.5rem;   
}

.article-read-more, .article-info{
    font-size: 0.875rem; 
}

.article-read-more{
    color: #1792D2;
    text-decoration: none;
    font-weight: 700;
} 

.article-read-more:hover, .article-read-more:focus{
    color: #143774;
    text-decoration: underline;
}



/* -----------
Layout
-------------- */
.container{
    width: 90%;
    max-width: 900px;
    margin: 0 auto; 
}
/* just because we can re use the .container class, it is better to seperate flex properties into another class */
.container-flex{
    display: flex;
    justify-content: space-between;
}

header{
    background-color: #F8F8F8;
    padding: 2em 0;
    
}
main{
    
}

aside{

}


/* -Nav bar-*/
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
}

.nav-list{
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.nav-list-item{
    margin-left: 2em;  
}

.nav-link{
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: #707070;
    padding: .25em 0;
}
.nav-link:hover,
.nav-link:focus{
    color: #1792D2;
}
.current-page{
    border-bottom: 1px solid #707070;;
}

.current-page:hover{
    color: #707070;
}

/* 
Center img in parent and make it responsive */
#image {
    display: block;
    max-width: 80%;
    margin: 0 auto;
}



/* MEDIA QUERIES */
@media (max-width: 880px){
    .container-nav{
        flex-direction: column;
    }
    
    .nav-list{
        flex-direction: column;
    }
    
    .nav-list-item{
        margin: .5em 0;
    }
    header{
        text-align: center;
    }
    
}




